$grey: #D2D3D8;
$yellow: linear-gradient(180deg, #FFF496 17.34%, #EAB359 91.62%);
$green: #6C6E26;
$gold: #EAB359;
$green2: linear-gradient(0deg, #171717, #171717),
linear-gradient(0deg, #6C6C2F, #6C6C2F);
;
$brown: #4F2600;



body {
    background: black;
}

.container {
    max-width: 1400px;
    padding: 0px 20px;
    margin: 0px auto;
}

.btn {
    background: none;
    border: 1px solid white;
    border-radius: 24px;
    color: white;
    padding: 14px 40px;
    display: flex;
    align-items: center;
    img {
        margin-right: 8px;
    }
}
.btn-white {
    background: white;
    color: black;
}


.btn-circle {
    display: flex;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid white;
    background: $green;
    span {
        display: block;
        font-family: Manrope;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        margin: 0px auto;
        color: white;
    }
}
.global-btn {
    background: linear-gradient(90deg, #6C6E26 0%, #A29E4E 58.75%, #F0E488 100%);
    padding: 14px 40px;
    border-radius: 30px;
    display: block;
    margin: 0px auto;
    .global-btn__link {
        font-family: Manrope;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: white;                
    }
}

.section__title {
    font-family: Oswald;
    font-size: 144px;
    font-weight: 700;
    line-height: 173px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
    span { 
        background: $yellow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }    
}
.line {
    width: 92px;
    height: 11px;
    background: white;
}


.top-nav {
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 62px;
    margin-bottom: 66px;
    .menu {
        li {
            .menu__link {
                font-family: Manrope;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: $grey;
                text-transform: uppercase;       
            }
            .menu__link:hover {
                color: white;
            }
        }
    }
}

.header {
    height:  722px;
    .header__inner {
        position: relative;
        .header__pretitle {
            font-family: Manrope;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.56em;
            text-align: left;
            text-transform: uppercase;
            color: $grey;            
        }
        .btn-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 300%);
            z-index: 1;
        }
        .hero-figure {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 20%);
            z-index: 0;
        }
    }
}

.cart {
    padding-top: 225px;
    padding-bottom: 170px;
    .cart-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 40px;
    }
}

.about {
    position: relative;
    .line {
        margin-left: auto;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .about__title {
        font-family: Manrope;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: $grey;
        text-transform: uppercase;
        span {
            font-family: Oswald;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.06em;
            text-align: left;
            color: $gold;
            text-transform: uppercase;
        }        
        margin-bottom: 56px;
    }
    .about__descr {
        font-family: Manrope;
        font-size: 32px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        margin-bottom: 275px;        
    }
    .cardano {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 433%);
    }
}

.bars {
    margin-top: 150px;
    img {
        width: 100%;
    }
}

.collection {
    padding-bottom: 200px;
    .collection__inner {
        .section__title {
            text-align: center;
            margin-bottom: 50px;
        }
        .collection-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 40px;
            justify-content: center;
            margin: 0px auto;
            margin-bottom: 50px;
            .container__item {
                img {
                    margin-bottom: 15px;
                }
                .item__title {
                    font-family: Manrope;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                    margin-bottom: 4px;               
                }
                .item__descr {
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #D2D3D8;   
                }
            }
        }
    }
}

.calling__inner {
    position: relative;
    .calling-container {
        display: flex;
        justify-content: end;
        padding-right: 150px;
        padding-top: 50px;
        padding-bottom: 72px;
        background: $yellow;
        border-radius: 24px;
        .calling-title {
            font-family: Oswald;
            font-size: 88px;
            font-weight: 700;
            line-height: 106px;
            letter-spacing: -0.04em;
            text-align: left;
            color: $brown;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
    }
    .figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-150%, -30%);
    }
    .btn-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(250%, 70%);
    }
}

.footer__inner {
    padding-top: 300px;
    padding-bottom: 150px;
    img {
        display: block;
        margin: 0px auto;
        margin-bottom: 40px;
    }
    .footer-menu {
        display: flex;
        justify-content: center;
        .menu__item {
            margin-right: 35px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .footer__descr {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;    
        color: white;    
    }
}

